.notes-list-wrapper{
    margin-top: 50px;
}
.notes-list-wrapper h1{
    margin: 0px;
    color: aqua;
}
.notes-list-wrapper ul{
    margin: 0px;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 30px;
    justify-content: center;
}
.notes-list-wrapper ul li{
    width: 200px;
    height: 200px;
    background: black;
    color: #ffdd08;
    font-size: 20px;
    font-weight: bold;
}